name: Build and Deploy Azure Function App (API)

env:
  AZURE_FUNCTIONAPP_NAME: matheus-portfolio-function
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './Microservice.Portfolio/src/Portifolio.FunctionApp/'
  DOTNET_VERSION: '8.0.x'

on:
  push:
    branches:
      - main
    paths:
      - Microservice.Portfolio/src/Portifolio.FunctionApp/**
      - .github/workflows/terraform.yml

  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v2

      - name: Setup DotNet ${{ env.DOTNET_VERSION }} Environment
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: 'Resolve Project Dependencies Using Dotnet'
        shell: bash
        run: |
          pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
          dotnet build --configuration Release --output ./output
          popd

      - name: 'Run Azure Functions Action'
        uses: Azure/functions-action@v1
        with:
          app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
          package: '${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/output'
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
